{% include "header.html" %}

<div class="container">
    <p dir="auto">This project is based on the development of a school marks management system, commonly known as an
        ERP.
        The system is designed to automate the process of storing, accessing, and analyzing student marks and
        performance data. The system will provide a comprehensive and user-friendly platform for teachers, students, and
        parents to view and monitor student progress in real-time.</p>

    <p dir="auto">The system will be developed using the latest technologies and programming languages, including
        python, MySQL, Flask. The user interface will be intuitive and easy to use, allowing users to access the system
        from windows device with an internet connection.</p>

    <p dir="auto">The main objective of this project is to improve the efficiency and effectiveness of the marks
        management process, and to provide teachers, students, and parents with easy access to relevant information and
        data. By automating this process, we aim to reduce the workload on teachers and administrators, and to provide
        students and parents with timely feedback on student performance.</p>

    <p dir="auto">In the following sections, we will discuss the project in more detail, including the key features
        of the system, the technology stack, and the development process. We will also present the expected benefits of
        the system, and outline the future plans for its implementation and maintenance.</p>

    <p dir="auto"><em>This Project is designed &amp; developed by </em><strong><em>Soumajit Ghosh,Saurodip Sinha of
        Class - 12</em></strong></p>

</div>

{% include "footer.html" %}