{% include "header.html" %}

<div id="home-page">
    <div class="container d-flex gap-3 flex-column justify-content-center vh-100">

    <div class="row">
        <h1 class="display-1">Welcome,</h1>
        <h3 class="display-3">
            to SVVM Student Manager
        </h3>
    </div>

    <div class="row">
        <div>
            <a type="button" href="/login" class="btn btn-primary btn-lg">
                Admin Login
            </a>
        </div>
    </div>

</div>
</div>


{% include "footer.html" %}