{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<main class="container d-flex flex-column" style="gap: 10px">
    <div class="d-flex">
        <div class="d-flex" style="gap: 10px;">
            <form action="/students" method="get" class="d-flex" style="gap: 10px;">
                {{ form.name(class="form-control",
                             placeholder="Student Name") }}
                {{ form.submit(class="btn btn-info") }}
            </form>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by class
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href={{ url_for("students") }}>All</a>
                    {% for c in range(1, 13) %}
                        <a class="dropdown-item" href={{ url_for("students", class=c) }}>{{ c }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a class="btn btn-success ml-auto" href="students/new">
            <i class="fa-solid fa-plus"></i>
            New Student
        </a>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Sl.No</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Roll No</th>
            <th scope="col">More</th>
        </tr>
        </thead>
        <tbody>
        {% for data in all_students %}
            <tr>
                <th scope="row">{{ data[0] }}</th>
                <td>{{ data[1] }}</td>
                <td>{{ data[-2] }}</td>
                <td>{{ data[-1] }}</td>
                <td>
                    <div class="btn-group" role="group" style="width: 80px;">
                        <a class="btn btn-success" href="/students/{{ data[0] }}">Profile</a>
                        <a class="btn btn-primary" href="/students/edit/{{ data[0] }}">Edit</a>
                        <a class="btn btn-danger" href="/students/delete/{{ data[0] }}">Delete</a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>


{% include "footer.html" %}
{% endblock %}